@font-face {
    font-family: 'ete-mono';
    src: url('etemonoMono400.woff2') format('woff2'),
        url('etemonoMono400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
