body{
	background:#222;
	color: yellow;
	font-size: 3vw;
	line-height:1.2em;
	font-family:"ete-mono", monospace;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	margin: 0;
}
main{
	width:35vw;
	height: 35vw;
	padding:1vw;
	box-shadow: 0 0 40px black;
	transition: box-shadow 1s ease;
	position: relative;
}
main:hover{
	box-shadow: 0 0 0px #111;
}
p{
	margin:0;
}
.credit{
	position: absolute;
	font-size: .3em;
	line-height:1em;
	right:1vw;
	bottom:1vw;
	color: #777;
}
.edit:after{
	content:"|";
	animation: anim 1s step-end 0s infinite alternate-reverse forwards running;
}
.edit:focus{
	background: black;

}
.edit:focus:after{
	animation: none;
	display: none;
}
@keyframes anim{
	0% {opacity:0;}
	50% {opacity:1;}
}
a{
	color:inherit;
	text-decoration:none;
	border-bottom:1px solid;
}
a:hover{
	background:black;
}
::selection{
	background: black;
}